﻿@model ExperienciaTuristica.Models.ImagenesModel

@{
    ViewBag.Title = "CargarImagenes";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<link href="~/Content/Galerias.css" rel="stylesheet" />

<h2>Imagenes de la galería</h2>

@using (Html.BeginForm("CargarImagenes", "Galeria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <table>
        <tr>
            <td>
                <input type="file" name="archivos" id="archivos" class="btn" style="float: left; height: 31px; padding: 4px 0px 0px 4px; margin-right: 5px;" multiple>
                <input type="submit" name="guardar" id="guardar" value="Guardar Imagenes" class="btn btn-guardar-imagenes" style="background-color: rgba(41, 41, 41, 0.9); font-weight: normal;">
            </td>
        </tr>
    </table>
}


<div id="ImagenesCargadas">
    @foreach (var imagen in @Model.imagenesCargadas)
    { 
        <div class="ImagenCargada" id="imagen_@imagen.IdImagen">
            <img src="@imagen.PathImagen">
            <i class="fa fa-times" onclick="eliminarImagen(@imagen.IdImagen)"></i>
            <i class="fa fa-bars"></i>
            <div class="popover-markup">
                <a href="#" class="triggerImagen"></a>
                <div class="head hide">Añada una descripción:</div>
                <div class="content hide">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Escriba aquí…" id="descripcion_@imagen.IdImagen" value="@imagen.DescripcionImagen">
                    </div>
                    <button type="submit" class="btn btn-default btn-block" onclick="agregarDescripcion(@imagen.IdImagen)">
                        Guardar descripción
                    </button>
                </div>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    function agregarDescripcion(IdImagen) {
        var descripcion = $("#descripcion_" + IdImagen).val();
        $.ajax({
            type: "POST",
            url: "/Galeria/ActualizarComentarioImagen/",
            data: { "descripcion": descripcion, "IdImagen": IdImagen },
            success: function (data) {
                if (data == true) {
                    location.reload();
                }
            }
        });
    }

    function eliminarImagen(IdImagen) {
        $.ajax({
            type: "POST",
            url: "/Galeria/EliminarImagen/",
            data: { "IdImagen": IdImagen },
        });
        $("#imagen_" + IdImagen).hide();
    }

    $('.triggerImagen').popover({
        html: true,
        title: function () {
            return $(this).parent().find('.head').html();
        },
        content: function () {
            return $(this).parent().find('.content').html();
        }
    });
</script>
