﻿@model ExperienciaTuristica.Models.GaleriaModel

@{
    ViewBag.Title = "NuevaGalería";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<link href="~/Content/Galerias.css" rel="stylesheet" />

<div class="contenedor-galerias">
    <h2>Nueva Galería: </h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Usuario</legend>

            <div class="form-galeria">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.TituloGaleria)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.TituloGaleria)
                    @Html.ValidationMessageFor(Model => Model.TituloGaleria)
                </div>
            </div>
            <div class="form-galeria">
                <div class="editor-label">
                    @Html.LabelFor(x => x.PaisCodigo)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.IdCiudad)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCiudad)
                </div>
            </div>
            <div class="textarea-galeria">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.DescripcionGaleria)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(Model => Model.DescripcionGaleria)
                    @Html.ValidationMessageFor(Model => Model.DescripcionGaleria)
                </div>
            </div>
            <input type="submit" value="Editar galería" />
            @Html.TextAreaFor(Model => Model.FechaHoraGaleria, new { @class = "oculto" })
        </fieldset>
        
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Tema/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                    actualizarComboCiudad();
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $('#PaisCodigo> option[value=@ViewBag.paisseleccionado]').attr('selected', 'selected');
            $("#PaisCodigo").change();

        });
        function actualizarComboCiudad() {
            $('#IdCiudad> option[value=@ViewBag.ciudadseleccionada]').attr('selected', 'selected');
        }
</script>
