﻿@model List<ExperienciaTuristica.Models.GaleriaModel>

@{
    ViewBag.Subject = "Visualización Galerías";
    ViewBag.Description = "Mostrará todas las galerías que se encuentren cargados en Experiencia Turística";
    ViewBag.Title = "Todos las Galerías de Experiencia Turistica";
    ViewBag.Keywords = "turismo, turistico, viaje, viajes, viajeros, viajero,aventura, excursion, paseo,paisaje, argentina, imagen, imagenes, galeria, galerias, foto, fotos, fotografia, fotografias";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/Galerias.css" rel="stylesheet" />

<center>
<h1>Galerias</h1>
<div style="text-align:center; margin-bottom:10px">
    <input style="background-color: #ffffff; color: rgba(19, 19, 19, 0.69);" type="text" id="BusquedaGaleria" placeholder="Buscar...">
    <div class="popover fade bottom in" role="tooltip" id="popover-busqueda-galeria" style="  top: 40%; left: 40%; max-width: 250px; max-height: 500px; overflow-y: scroll; width:250px" hidden>
        <div class="arrow" style="left: 50%;"></div>
        <h3 class="popover-title" style="display: none;"></h3>
    </div>
</div>
@if (Session["Usuario"] != null)
{
    <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Galeria/CrearGaleria">Nueva Galeria</a>
}


<div class="row row-galeria">
       
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add().RenderValueAs(c => @<center><div>
                <div class="contenido-galeria">
                    <h3><label class="titulo-galeria"><a style="color:black;" href="/Galeria/MostrarGaleria?id=@Html.Raw(c.IdGaleria)">@Html.Raw(c.TituloGaleria)</a></label></h3>
                </div>
                <div class="imagenes-galeria">
                    <div id="links">
                        @foreach (var imagen in c.imagenesCargadas)
                        {
                            <div class="contenedor-imagen">
                                <a href="@imagen.PathImagen" title="@imagen.DescripcionImagen" data-gallery>
                                    <img src="@imagen.PathImagen" alt="@imagen.DescripcionImagen">
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="contenido-galeria">
                    <h4><label class="descripcion-galeria">@Html.Raw(c.DescripcionGaleria)</label></h4>
                </div>
                </div>
                </center>).Encoded(false).Sanitized(false).SetWidth("10%");

        }).WithPaging(8)

    </div>

</center>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" style="width: 200px;" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" style="width: 200px;" class="btn btn-default pull-right next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Content/Bootstrap-Image-Gallery-master/js/bootstrap-image-gallery.min.js"></script>
<link href="~/Content/Galerias.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".modal.fade.slide-content.in").addClass("overflow-hidden");
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BusquedaGaleria").bind("keydown", function (e) {
            if (e.keyCode == '8') {
                $("#popover-busqueda-galeria").empty();
                $("#popover-busqueda-galeria").hide();
            }
            else {
                if ($("#BusquedaGaleria").val().length > 3) {
                    datos = { parametroBusqueda: $("#BusquedaGaleria").val() }
                    $.ajax({
                        type: "POST",
                        url: "/Busqueda/BuscarGaleria/",
                        data: datos,
                        success: function (data) {
                            $("#popover-busqueda-galeria").empty();
                            if (data.length == 0) {
                                $("#popover-busqueda-galeria").append("No se encontraron resultados");
                            }
                            else {
                                var intTema = 0;
                                var intComentario = 0;
                                $.each(data, function (index, value) {
                                    if (value.TipoResultado = "Galeria") {
                                        $("#popover-busqueda-galeria").append("<p><a href='/Galeria/Index?IdGaleria=" + value.Id + "'>" + value.TituloRepresentativo + "</a></p>");
                                    }
                                });
                            }
                            $("#popover-busqueda-galeria").show();


                        }
                    });
                }
            }
        });
    });
</script>
