﻿@model List<ExperienciaTuristica.Models.GaleriaModel>

@{
    ViewBag.Title = "MisGalerias";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />

<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Galerias.css" rel="stylesheet" />
<center>
<h1 style="font-size:3em;">Mis Galerias</h1>
<a type="button" class="btn btn-default btn-xs" style="width: 30%" href="/Galeria/CrearGaleria">Nueva Galería</a>
</center>

<h3>@ViewBag.Mensaje</h3>

@Html.Grid(Model).Columns(columns =>
           {   columns.Add(c => c.TituloGaleria).Titled("Título").Sortable(true).Filterable(true).SetWidth("40%");
               columns.Add(c => c.FechaHoraGaleria).Titled("Fecha").Sortable(true).Filterable(true).SetWidth("20%");
               columns.Add(c => c.NombreCiudad).Titled("Lugar").Sortable(true).Filterable(true).SetWidth("20%");
               columns.Add(c => c.IdGaleria).Titled("Acciones")
                          .Sanitized(false)
                          .Encoded(false)
                          .RenderValueAs(d => "<a href='/Galeria/CargarImagenes?IdGaleria=" + d.IdGaleria + "'><i class='fa fa-camera'></i></a>"
                                              + "<a href='/Galeria/EditarGaleria?IdGaleria=" + d.IdGaleria + "'><i class='fa fa-pencil-square-o iconos-acciones'></i></a>"
                                              + "<a href='/Galeria/EliminarGaleria?IdGaleria=" + d.IdGaleria + "'><i class='fa fa-times iconos-acciones'></i></a>").SetWidth("20%");
           }).WithPaging(8).WithMultipleFilters()


