﻿@model ExperienciaTuristica.Models.GaleriaModel
@{
    ViewBag.Title = "MostrarGaleria";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<link href="~/Content/Galerias.css" rel="stylesheet" />
<center>
    <div class="row row-galeria">
            <div class="contenido-galeria">
                <h3><label class="titulo-galeria">@Model.TituloGaleria</label></h3>
            </div>
            <div class="imagenes-galeria">
                <div id="links">
                    @foreach (var imagen in Model.imagenesCargadas)
                    {
                        <div class="contenedor-imagen">
                            <a href="@imagen.PathImagen" title="@imagen.DescripcionImagen" data-gallery>
                                <img src="@imagen.PathImagen" alt="@imagen.DescripcionImagen">
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="contenido-galeria">
                <h4><label class="descripcion-galeria">@Html.Raw(@Model.DescripcionGaleria)</label></h4>
            </div>
    </div>

</center>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" style="width: 200px;" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" style="width: 200px;" class="btn btn-default pull-right next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Content/Bootstrap-Image-Gallery-master/js/bootstrap-image-gallery.min.js"></script>
<link href="~/Content/Galerias.css" rel="stylesheet" />