﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="Title" content="@ViewBag.Title">
    <meta name="Author" content="Equipo Ingeniería Web">
    <meta name="Subject" content="@ViewBag.Subject">
    <meta name="Description" content="@ViewBag.Description">
    <meta name="Keywords" content="@ViewBag.Keywords">
    <meta name="Language" content="Spanish">
    <meta name="Revisit" content="3 days">
    <meta name="Distribution" content="Global">
    <meta name="Robots" content="All">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Experiencia Turistica</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link href="~/Content/Bootstrap-Image-Gallery-master/css/bootstrap-image-gallery.min.css" rel="stylesheet" />

    <link href="~/Content/Home.css" rel="stylesheet" />
    <script src="~/Scripts/Sistema/Home.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <meta name="google-site-verification" content="GmJrZvT5UF2ahG8oT73-rdPQHJFy7uXvFlXbo-7SZQI" />
</head>
<body>
    <div class="container">
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
                    <div class="container">
                        <div class="topbar animated fadeInLeftBig"></div>
                        <div class="navbar-header">
                            <!-- Logo Starts -->
                            <a class="navbar-brand" href="/Comunidad/Comunidad">
                                <img src="/Content/template/images/logo.png" alt="logo"></a>
                            <!-- #Logo Ends -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Nav Starts -->
                        <div class="navbar-collapse  collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Galerias <span class="caret"></span></a>
                                    <ul class="dropdown-menu" id="dropdown-menu-izq" role="menu">
                                        <li><a href="/Galeria/Index">Todas las galerías</a></li>
                                        @if (Session["Usuario"] == null)
                                        {
                                            <li><a data-toggle="modal" data-target="#ModalInicio" onclick="ocultarError()">Mis galerias</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Galeria/MisGalerias">Mis galerias</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Temas <span class="caret"></span></a>
                                    <ul class="dropdown-menu" id="dropdown-menu-izq2" role="menu">
                                        <li><a href="/Tema/Index">Todos los temas</a></li>
                                        @if (Session["Usuario"] == null)
                                        {
                                            <li><a data-toggle="modal" data-target="#ModalInicio" onclick="ocultarError()">Mis temas</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Tema/MisTemas">Mis temas</a></li>
                                        }

                                    </ul>
                                </li>
                                @{RepositorioClases.Usuario usuario = (RepositorioClases.Usuario)(Session["Usuario"]);}
                                @if (usuario != null)
                                {
                                    if (usuario.IdRol == 3)
                                    {
                                    <li class="dropdown" id="li-mod">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Moderador <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="dropdown-menu-izq3" role="menu">
                                            <li><a href="/Moderador/Index/">Listado de Denuncias</a></li>
                                        </ul>
                                    </li>
                                    }
                                    if (usuario.IdRol == 1)
                                    {
                                    <li class="dropdown" id="li-adm">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrador <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="dropdown-menu-izq4" role="menu">
                                            <li><a href="/Usuarios/Index/">Listado de Usuarios</a></li>
                                        </ul>
                                    </li>
                                    }
                                }
                            </ul>
                            @if (Session["Usuario"] == null)
                            {
                                <ul id="navbar-derecha" class="navbar-derecha nav navbar-nav">
                                    <li><a data-toggle="modal" data-target="#ModalInicio" onclick="ocultarError()">Iniciar sesión</a></li>
                                    <li><a href="/General/Registrar">Registrarse</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul id="navbar-derecha2" class="navbar-derecha nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <i class="fa fa-user"><a href="/Perfil/Index">Ir al perfil </a></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-power-off"><a href="/Login/CerrarSesion">Cerrar sesión </a></i>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                            <input style="background-color: #313131; color: rgba(255, 255, 255, 0.69); float: right;" type="text" id="Busqueda" class="busqueda-layout" placeholder="Buscar...">
                            <a class="busqueda-avanzada" data-toggle="modal" data-target="#ModalBusquedaAvanzada">Busqueda avanzada</a>
                            <div class="popover fade bottom in" role="tooltip" id="popover-busqueda" style="top: 74%; left: 60%; max-width: 350px; max-height: 500px; overflow-y: scroll;" hidden>
                                <div class="arrow" style="left: 50%;"></div>
                                <h3 class="popover-title" style="display: none;"></h3>
                            </div>
                        </div>
                        <!-- #Nav Ends -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Usuario-->
        <div class="modal fade" id="ModalInicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 375px; left: 0%">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="modal-title" id="myModalLabel">Inicio de sesión</h4>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 7px;"><span aria-hidden="true">&times;</span></button>
                                <img style="height: 20px; width: 110%; margin-top: 8px; margin-left: -34px;" hidden src="~/Content/Imagenes/gif-load.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div id="login-comun">
                            <div class="form-group">
                                <label for="usuario">Mail Usuario: </label>
                                <input type="text" class="form-control" id="usuarioSesion">
                            </div>
                            <div class="form-group">
                                <label for="contraseña">Contraseña: </label>
                                <input type="password" class="form-control" id="contraseñaSesion">
                            </div>
                            <a href="@Url.Action("EnviarMailCambioContra","General")">Modificar contraseña</a>
                            <p id="ErrorUsuario" style="color: red" hidden>Usuario incorrecto, verifique sus datos.</p>
                        </div>
                        <div id="login-redes" hidden>
                            <section class="social" id="socialLoginForm">
                                @Html.Action("ExternalLoginsList", "ExternalLogin", new { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                            <button type="button" class="btn btn-default" onclick="mostrarLoginUsuarioComun()" style="padding-bottom: 10px; margin-top: 5px; background-color: rgb(59, 84, 181); width: 100%;">
                                Login usuario común</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div id="botones-login-comun">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="iniciarSesion()" style="padding: 10px; height: 41px;">Iniciar sesión</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100%; margin-bottom: 0; margin-left: 0px; padding: 10px;">
                                        Cerrar</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default" style="padding-bottom: 10px; margin-top: 5px; background-color: rgb(59, 84, 181); width: 100%;"  onclick="mostrarLoginRedesSociales()">
                                        Login con redes sociales</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Busqueda Avanzada-->
        <div class="modal fade" id="ModalBusquedaAvanzada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 375px; left: 0%">
                <div class="modal-content">
                    @using (Html.BeginForm("BusquedaCompleta", "Busqueda", FormMethod.Get, new { @id = "form", @novalidate = "novalidate" }))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="ModalLabelBusquedaAvanzada">Busqueda avanzada en todo el sitio</h4>
                        </div>
                        <div class="modal-body" style="padding-bottom: 0px;">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <p>Que el titulo contenga: </p>
                                <input id="titulo" name="titulo" type="text" value="" />
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <p>Que su copete contenga: </p>
                                <input id="copete" name="copete" type="text" value="" />
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <p>Que su descripcion contenga: </p>
                                <input id="descripcion" name="descripcion" type="text" value="" />
                            </div>
                            <div class="form-group" style="margin-bottom: 15px;">
                                <input id="relacionada" name="relacionada" type="checkbox" />
                                ¿Parámetros relacionados?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <img src="~/Content/Imagenes/cargando.gif" hidden />
                            <button type="submit" class="btn btn-default" style="width: 100%" id="BusquedaCompleta" onclick="mostrarCargando()">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div style="min-height: 480px; padding-top: 90px;">
            @RenderBody()
        </div>
        <!-- Site footer -->
        <footer style="height: 100px; margin-top: 2%;">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/">
                <img alt="Licencia Creative Commons" style="border-width: 0" src="https://i.creativecommons.org/l/by-nc-nd/2.0/88x31.png" /></a><br />
            Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/">Licencia Creative Commons Atribución-NoComercial-SinDerivadas 2.0 Genérica</a>.
        </footer>
    </div>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/template/animate/set.css" rel="stylesheet" />
    <link href="~/Content/template/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/template/style.css" rel="stylesheet" />


</body>
</html>

