﻿@model ExperienciaTuristica.Models.UsuarioModel

<!-- Modal Usuario-->
<div class="modal fade" id="ModalInicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 375px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inicio de sesión</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuario">Usuario: </label>
                    <input type="text" class="form-control" id="usuarioSesion">
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" class="form-control" id="contraseñaSesion">
                </div>
                <p id="ErrorUsuario" style="color: red" hidden>Usuario incorrecto, verifique sus datos.</p>
            </div>
            <div class="modal-footer">
                <img src="~/Content/Imagenes/cargando.gif" hidden />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="iniciarSesion()">Iniciar sesión</button>
            </div>
        </div>
    </div>
</div>
