﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Error al procesar la solicitud.</h2>


</hgroup>
