﻿@model ExperienciaTuristica.Models.UsuarioModel
@{
    ViewBag.Title = "EditarPerfil";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>EditarPerfil</h2>
<link href="~/Content/Home.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Sistema/Home.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
    <div class="row">
        @using (Html.BeginForm("EditarPerfil", "Perfil", FormMethod.Post, new { @id = "form", @novalidate = "novalidate" }))
        {
        @Html.Hidden("IdUsuario", Model.IdUsuario)
        <div class="col-md-6" style="border-style: groove;height: 372px; padding-top: 7px;">
            <div class="editor-label">
                @Html.LabelFor(model => Model.NombreApellido)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => Model.NombreApellido)
                @Html.ValidationMessageFor(model => Model.NombreApellido)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.NombreUsuario)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => Model.NombreUsuario)
                @Html.ValidationMessageFor(model => Model.NombreUsuario)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Mail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Mail)
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(x => x.PaisCodigo)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.IdCiudad)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
            </div>

        </div>
        <div class="col-md-6" style="border-style: groove;height: 372px;padding-top: 7px;">

            <div class="editor-label">
                @Html.LabelFor(model => model.Direccion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FechaNacimiento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => Model.FechaNacimiento)
                @Html.ValidationMessageFor(model => Model.FechaNacimiento)
            </div>

            <div class="modal-footer">
                <img src="~/Content/Imagenes/cargando.gif" hidden />
                <button type="submit" class="btn btn-primary" id="EnviarRegistro" onclick="mostrarCargando()">Enviar</button>
            </div>
        </div>
        }
    </div>
   
<script type="text/javascript">
    $(document).ready(function () {
        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Home/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                    actualizarComboCiudad();
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $('#PaisCodigo> option[value=@ViewBag.paisseleccionado]').attr('selected', 'selected');
        $("#PaisCodigo").change();

    });
    function actualizarComboCiudad() {
        $('#IdCiudad> option[value=@ViewBag.ciudadseleccionada]').attr('selected', 'selected');
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#FechaNacimiento').datepicker()

    });

</script>