﻿@*@Model ExperienciaTuristica.Models.UsuarioModel*@
@{
    ViewBag.Title = "VerPerfil";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<link href="~/Content/Perfil.css" rel="stylesheet" />
<div class="datagrid" @*id="div-Principal-Perfil"*@ style="width: 1145px; height: 256px;">
    <table>    
        <tbody>
            <tr>
                <td>
                    <div id="div-Foto-Perfil">
                           <img src="@Model.FotoPerfil" align="left" width="100%" height="100%" style="border-radius:30px;width: 128px;height: 142px; border:1px solid" />
                    </div>
                    
                    <div id="div-Titulos-Perfil">  
                        <div class="editor-label"<>Nombre de Usuario:</div>
                        <div class="editor-label"<>Nombre y Apellido:</div>
                        <div class="editor-label"<>Mail de Usuario:</div>
                        <div class="editor-label"<>Ciudad:</div>
                        <div class="editor-label"<>Fecha de Nacimiento:</div>
                    </div>
                    <div id="div-Datos-Perfil">
                        <div class="display-field">@Model.NombreUsuario</div>
                        <div class="display-field">@Model.NombreApellido</div>
                        <div class="display-field">@Model.Mail</div>
                        <div class="display-field">@Model.NombreCiudad</div>
                        <div class="display-field">@Model.FechaNacimiento</div>
                    </div> 

                </td>

            </tr>
        </tbody>
    </table>

</div>
