﻿@model RepositorioClases.UsuarioTwitter
@{
    ViewBag.Title = "InicioTwitter";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

@using (Html.BeginForm("ConfirmarMailTwitter", "Login", FormMethod.Post, new { @id = "formulario", @novalidate = "novalidate" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.IdTwitter)
    @Html.HiddenFor(model => model.AccessToken)
    <fieldset>
        <legend>Ingrese su email para relacionarlo con twitter: </legend>
        @Html.TextBoxFor(model => model.Mail)
        <input type="submit" value="Ingresar Mail" />
    </fieldset>
        
}
