﻿.form-galeria {
    width: 50%;
}

.oculto {
    visibility: hidden;
}


.contenedor-galerias {
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
}

#ImagenesCargadas {
    height: 450px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ImagenCargada {
    position: relative;
    height: 150px;
    width: 150px;
    float: left;
    margin: 2px 2px 2px 2px;
    background-position: center;
}

    .ImagenCargada img {
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
    }

    .ImagenCargada i {
        position: absolute;
        color: #FFF;
        top: 0px;
        opacity: 0;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        cursor: pointer;
        border: 0px;
        width: 32px;
        height: 32px;
        font-size: 14pt;
    }

    .ImagenCargada:hover i {
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        opacity: 0.8;
    }

    .ImagenCargada i.fa-times {
        right: 0px;
        margin-left: 14px;
        margin-top: 5px;
    }

    .ImagenCargada i.fa-bars {
        left: 0px;
        margin-left: 20px;
        margin-top: 5px;
    }

#clicked {
    clear: both;
}

.triggerImagen {
    position: absolute;
    color: #FFF;
    top: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    cursor: pointer;
    border: 0px;
    width: 32px;
    height: 32px;
    font-size: 14pt;
    left: 0px;
    margin-left: 20px;
    margin-top: 5px;
}

.btn-guardar-imagenes {
    float: left;
    color: #8F999D;
}

.contenedor-imagen {
    height: 100px;
    width: 120px;
    display: inline-table;
}

    .contenedor-imagen a img, .contenedor-imagen a {
        height: 100%;
        width: 100%;
    }

.modal-body img {
    height: 100%;
    width: 100%;
}

.row-galeria {
    width: 90%;
}

.imagenes-galeria {
    width: 100%;
    height: auto;
}

.contenido-galeria label {
    font-weight: normal;
}

.overflow-hidden {
    overflow:hidden;
}

.contenido-galeria a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

