﻿#imgHome {
    width: 100%;
    align-content: center;
}

    #imgHome img {
        width: auto;
    }

#Registro {
    z-index: 9000;
    align-content: center;
    color: white;
}

.fondo {
    background-image: url("../../Content/Imagenes/ImagenPrincipal.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.modificacion-row-principal {
    padding-top: 200px;
    margin-right: 0px;
}

.col-transparent {
    opacity: 0;
}

.col-principal {
    height: auto;
    width: 200px;
    background-color: rgba(175, 218, 249, 0.43);
    border-radius: 20px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

    .col-principal button {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.modal-footer img {
    float: left;
}

.editor-field {
    margin-bottom: 10px;
}

.btn-invitado {
    width: 142px;
    margin-top: 7px;
    background-color: white;
}

    .btn-invitado:hover {
        color: black;
        background-color: #D2D2D2;
    }

#navbar {
    float: left;
    width: 100%;
}

#navbar-derecha {
    margin-right: 25px;
    float: right;
}

    #navbar-derecha ul {
        width: 100px;
    }

    #navbar-derecha i {
        margin-left: 10px;
    }

        #navbar-derecha i a {
            padding: 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

            #navbar-derecha i a:hover {
                background: #fff;
            }

#navbar-derecha2 {
    margin-right: 25px;
    float: right;
}

    #navbar-derecha2 ul {
        width: 100px;
    }

    #navbar-derecha2 i {
        margin-left: 10px;
    }

        #navbar-derecha2 i a {
            padding: 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

            #navbar-derecha2 i a:hover {
                background: #fff;
            }

#dropdown-menu-izq li a:hover {
    color: #000;
}

.no-visible {
    visibility: hidden;
}

.busqueda-layout {
    float: right;
    margin-top: 30px;
    width: 200px;
    height: 25px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.busqueda-avanzada {
    float: right;
    color: rgba(255, 255, 255, 0.63);
    padding-top: 32px;
    padding-right: 15px;
    text-decoration: none;
}

    .busqueda-avanzada:hover {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }