﻿
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: steelblue;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 30px;
    border-style: groove;
    border: inset;
    border-color: darkblue;
}


#div-Titulos-Perfil {
    font-weight: bold;
    margin-left: 440px;
    margin-top: 25px;
    font-size: 15px;
}

#div-Datos-Perfil {
    font-weight: bold;
    position: absolute;
    margin-left: 610px;
    margin-top: -86px;
    font-size: 15px;
}

#div-Foto-Perfil {
    width: 116px;
    height: 126px;
    background-position: center;
    position: absolute;
    margin-left: 305px;
    margin-top: -3px;
}

#table-Cargar-Foto {
    position: absolute;
    margin-top: 65px;
}

#tit-Cargar-Foto {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    margin-top: -25px;
    margin-left: 305px;
}

#input-Cargar-Foto {
    margin-left: 305px;
    width: 378px;
    background-color: #76ADDA;

}

#btn-Cargar-Foto {
    position: absolute;
    margin-top: -30px;
    margin-left: 685px;
}
