﻿.row-tema {
    width: 90%;
}

.contenido-tema label {
    font-weight: normal;
}

.form-tema {
    width: 50%;
}

.contenedor-temas {
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
}

.titulo-tema {
    font-size: 16pt;
}

a.accordion-toggle {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.div-tema {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 2px solid;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    width: 100%;
}

.div-comentarios {
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}

.border-derecho {
    text-align: center;
    padding-top:15px;
}

#texteditar {
    resize: none;
    width: 100%;
}

#textmotivo {
    resize: none;
    width: 100%;
}

.row-comunidad {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border: 1px solid;
    border-color: #D2BFBF;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-descripcion-tema {
    padding-left: 20px;
    font-size: 12px;
    font-style: italic;
    width: 720px;
    height: 35px;
    overflow: hidden;
}

.titulo-index h2 {
    margin-top: 2%;
    margin-bottom: 1%;
}

.titulo-busqueda-completa {
    margin-top: 20px;
    margin-bottom: 15px;
}

.comentario-tema {
    padding-top: 10px;
    padding-bottom: 10px;
}