﻿@model ExperienciaTuristica.Models.UsuarioModel

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Sistema/Home.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#confirmar-contraseña').val("");
    });
</script>
<script type="text/javascript">
    $("#form").validate({
        rules: {
            NombreApellido: 'required',
            NombreUsuario: 'required',
            Contraseña: {
                required: true,
                minlength: 4     
            },
            Mail: {
                required: true,
                email:true
            },
            Direccion: 'required',
            FechaNacimiento: 'required',
            PaisCodigo: 'required',
            IdCiudad:'required'

        },
        messages: {
            NombreApellido: 'Ingrese su Nombre y Apellido',
            NombreUsuario: 'Ingrese su Nombre de Usuario',
            Contraseña:{
                required:'Ingrese su contraseña',
                minlength:'Su contraseña debe ser mayor a 4 caracteres'
            },
            Mail: 'Ingrese un mail válido',
            Direccion: 'Ingrese la Dirección',
            FechaNacimiento: 'Ingrese la fecha de nacimiento',
            PaisCodigo: 'Ingrese el País',
            IdCiudad:'required'
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
        
</script>


@section featured {
    <section class="featured">
        <div class="row modificacion-row-principal">
            <div class="col-md-4 col-transparent">.col-md-4</div>
            <div class="col-md-4">
                <center>
                    <div class="col-principal">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalInicio" onclick="ocultarError()">
                            Iniciar Sesión
                        </button>
                        <button type="button" class="btn btn-info btn-lg" style="width:142px;" data-toggle="modal" data-target="#ModalRegistro">
                            Registrarse
                        </button>
                        <a class="btn btn-info btn-lg btn-invitado" href="/Comunidad/Index">Invitado</a>
                        <button type="button" class="btn btn-info btn-lg" style="width:142px; display:none;" data-toggle="modal" data-target="#ModalUsuarioIncorrecto">
                            Logueo incorrecto
                        </button>
                    </div>
                </center>
            </div>
            <div class="col-md-4 col-transparent">.col-md-4</div>
        </div>
    </section>


    <!-- Modal Usuario-->
    <div class="modal fade" id="ModalInicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 375px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Inicio de sesión</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usuario">Usuario: </label>
                        <input type="text" class="form-control" id="usuarioSesion">
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña: </label>
                        <input type="password" class="form-control" id="contraseñaSesion">
                    </div>
                    <p id="ErrorUsuario" style="color: red" hidden>Usuario incorrecto, verifique sus datos.</p>
                </div>
                <div class="modal-footer">
                    <img src="~/Content/Imagenes/cargando.gif" hidden />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="iniciarSesion()">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal registro-->
    <div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 375px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Inicio de sesión</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Registrar", "General", FormMethod.Post, new {@id="form", @novalidate="novalidate" }))
                    {
                        <div class="editor-label">
                            @Html.LabelFor(Model => Model.NombreApellido)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(Model => Model.NombreApellido)
                            @Html.ValidationMessageFor(Model => Model.NombreApellido)
                        </div>
                        
                        <div class="editor-label">
                            @Html.LabelFor(Model => Model.NombreUsuario)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(Model => Model.NombreUsuario)
                            @Html.ValidationMessageFor(Model => Model.NombreUsuario)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(Model => Model.Contraseña)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(Model => Model.Contraseña)
                            @Html.ValidationMessageFor(Model => Model.Contraseña)
                        </div>
                        
                        <div class="form-group">
                            <label for="contraseña">Confirmar Contraseña: </label>
                            <input type="password" class="form-control" id="confirmar-contraseña" style="width: 87%;">
                        </div>
                        
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Mail)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Mail)
                            @Html.ValidationMessageFor(model => model.Mail)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(x => x.PaisCodigo)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
                        </div>
                        
                        
                        <div class="editor-label">
                            @Html.LabelFor(x => x.IdCiudad)
                        </div>
                        <div class="editor-field">
                            @*@Html.DropDownListFor(x => x.IdCiudad, new SelectList(ViewBag.ciudades, "CiudadId", "CiudadNombre"), "Selecciona una ciudad", new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
                        </div>
                        
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Direccion)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Direccion)
                            @Html.ValidationMessageFor(model => model.Direccion)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FechaNacimiento)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => Model.FechaNacimiento)
                            @Html.ValidationMessageFor(model => Model.FechaNacimiento)
                        </div>

                        <div class="modal-footer">
                            <img src="~/Content/Imagenes/cargando.gif" hidden />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" id="EnviarRegistro" onclick="mostrarCargando()">Enviar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        $('form').on('change', function () {
            if ($('#Contrase_a').val() != $('#confirmar-contraseña').val()) {
                alert('Las contraseñas no coinciden');
                return false;
            }
            return true;
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PaisCodigo").change(function () {
                //Se limpia el contenido del dropdownlist
                $("#IdCiudad").empty();
                $.ajax({
                    type: 'POST',
                    //Llamado al metodo en el controlador
                    url: '/Home/GetCiudadbyPaisCodigo/',
                    dataType: 'json',
                    //Parametros que se envian al metodo del controlador
                    data: { PaisCodigo: $("#PaisCodigo").val() },
                    //En caso de resultado exitoso
                    success: function (Ciudades) {
                        if (Ciudades.length == 0) {
                            $("#IdCiudad").append('<option value=""></option>');
                        }
                        else {
                            //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                            $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                            Ciudades.forEach(function (Ciudad) {
                                $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                                Ciudad.Text + '</option>');
                            });
                        }
                    },
                    //Mensaje de error en caso de fallo
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#FechaNacimiento').datepicker()

        });

    </script>
}



