﻿@model ExperienciaTuristica.Models.DenunciasComentariosModel
@{
    ViewBag.Title = "DetalleDenuncia";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}


<link href="~/Content/Admin.css" rel="stylesheet" />

<h2>Detalle Denuncia<h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="datagrid">
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 50%; text-align: left;">
                                <div class="display-label">Comentario denunciado: @Model.ComentarioDenunciado</div>
                                <div class="display-label">Usuario denunciado: @Model.NombreUsuarioDenunciado</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datagrid" style="padding-top: 10px;">
                <table>
                    <thead>
                        <th>Usuario denunciante:
                        </th>
                        <th>Motivo Denuncia:
                        </th>
                    </thead>
                    <tbody>
                        @foreach (var val in Model.Detalle)
                        {
                            <tr>
                                <td>
                                    @val.NombreUsuarioDenunciante
                                </td>
                                <td>
                                    @val.MotivoDenuncia
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div id="paging">
                                    <ul>
                                        <li><a href="/Moderador/BloquearComentario?idComentario=@Model.IdComentario">Bloquear</a></li>
                                        <li><a href="/Moderador/RechazarDenuncia?idComentario=@Model.IdComentario">Rechazar</a></li>
                                        <li><a href="/Moderador/Index">Volver</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>
