﻿@model List<ExperienciaTuristica.Models.DenunciasComentariosModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/Moderador.css" rel="stylesheet" />

<h2 style="margin-bottom: 0.5em;">Listado Denuncias</h2>

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.ComentarioDenunciado).Titled("Comentario Denunciado").Sortable(true).Filterable(true).SetWidth("40%");
               columns.Add(c => c.NombreUsuarioDenunciado).Titled("Usuario Denunciado").Sortable(true).Filterable(true).SetWidth("40%");
               columns.Add(c => c.IdComentario).Titled("")
                          .Sanitized(false)
                          .Encoded(false)
                          .RenderValueAs(d => "<a href='/Moderador/DetalleDenuncia?idComentario="+d.IdComentario+"'><i class='fa fa fa-search iconos-acciones'></i></a>").SetWidth("20%");
           }).WithPaging(8).WithMultipleFilters()

<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#div-usuario-logueado').removeClass('no-visible');
        $('#div-botones').removeClass('no-visible');
    });
</script>
