﻿@model IEnumerable<ExperienciaTuristica.Models.TemaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<link href="~/Content/Temas.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8">
        <h3 style="text-align: center;">
            <label>Foros Populares</label></h3>
        @foreach (var tem in Model)
        { 
            <div class="row marcado" onclick="funcionAlert()">
                @* agregar onclick en div para ir al tema y debatir. *@
                <div class="contenido-tema">
                    <div class="titulo-tema">
                        @tem.TituloTema
                    </div>
                </div>
                <div class="contenido-tema">
                    <div class="descripcion-tema">
                        @Html.Raw(@tem.DescripcionTema)
                    </div>
                </div>
            </div>    
        }
    </div>
    <div class="col-md-4">
        <h3 style="text-align: center;">
            <label>Categorías</label></h3>
        <div class="categorías">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Viajes</a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Estado de rutas
                        </div>
                        <div class="accordion-inner">
                            Lugares recomendados
                        </div>
                        <div class="accordion-inner">
                            Hospedaje
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Paisajes</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Lugares hermosos
                        </div>
                        <div class="accordion-inner">
                            Campamentos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function funcionAlert() {
            alert('Funciona el click sobre mi div!!');
        }
    </script>
