﻿@model ExperienciaTuristica.Models.TemaModel
@{
    ViewBag.Title = "EditarTema";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<link href="~/Content/Temas.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="contenedor-temas">
    <h2>Editar Tema: </h2>

    @using (Html.BeginForm("EditarTema", "Tema", FormMethod.Post, new { @id = "form-editar-tema", @novalidate = "novalidate" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Usuario</legend>
            @Html.LabelFor(Model => Model.IdTema, new { @style = "display: none" })
            <div class="form-tema">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.TituloTema)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(Model => Model.TituloTema)
                    @Html.ValidationMessageFor(Model => Model.TituloTema)
                </div>
            </div>
            <div class="form-tema">
                <div class="editor-label">
                    @Html.LabelFor(x => x.IdCategoria)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.IdCategoria, new SelectList(ViewBag.categorias, "IdCategoria", "DescripcionCategoria"), "Selecciona una categoria", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCategoria)
                </div>
            </div>
            <div class="form-tema">
                <div class="editor-label">
                    @Html.LabelFor(x => x.PaisCodigo)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.IdCiudad)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCiudad)
                </div>
            </div>
            <div class="form-tema">
                <div class="editor-label">
                    @Html.LabelFor(x => x.IdGaleria)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.IdGaleria, new SelectList(ViewBag.galerias, "IdGaleria", "TituloGaleria"), "Selecciona una galeria", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdGaleria)
                </div>
            </div>
            <div class="form-tema">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.UrlYoutube)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(Model => Model.UrlYoutube)
                    @Html.ValidationMessageFor(Model => Model.UrlYoutube)
                </div>
            </div>
            <div class="textarea-tema">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.DescripcionTema)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(Model => Model.DescripcionTema)
                    @Html.ValidationMessageFor(Model => Model.DescripcionTema)
                </div>
            </div>
            <div class="textarea-tema">
                <div class="editor-label">
                    @Html.LabelFor(Model => Model.ContenidoTema)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(Model => Model.ContenidoTema)
                    @Html.ValidationMessageFor(Model => Model.ContenidoTema)
                </div>
            </div>
            <input type="submit" value="Modificar Tema" />
        </fieldset>
        
    }
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $("#PaisCodigo").change(function () {
                //Se limpia el contenido del dropdownlist
                $("#IdCiudad").empty();
                $.ajax({
                    type: 'POST',
                    //Llamado al metodo en el controlador
                    url: '/Tema/GetCiudadbyPaisCodigo/',
                    dataType: 'json',
                    //Parametros que se envian al metodo del controlador
                    data: { PaisCodigo: $("#PaisCodigo").val() },
                    //En caso de resultado exitoso
                    success: function (Ciudades) {
                        if (Ciudades.length == 0) {
                            $("#IdCiudad").append('<option value=""></option>');
                        }
                        else {
                            //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                            $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                            Ciudades.forEach(function (Ciudad) {
                                $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                                Ciudad.Text + '</option>');
                            });
                        }
                        actualizarComboCiudad();
                    },
                    //Mensaje de error en caso de fallo
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })

            $('#PaisCodigo> option[value=@ViewBag.paisseleccionado]').attr('selected', 'selected');
            $("#PaisCodigo").change();

        });
        function actualizarComboCiudad() {
            $('#IdCiudad> option[value=@ViewBag.ciudadseleccionada]').attr('selected', 'selected');
    }
    </script>
<script type="text/javascript">
    $("#form-editar-tema").validate({
        rules: {
            TituloTema: 'required',
            IdCategoria: 'required',
            PaisCodigo: 'required',
            IdCiudad: 'required',
            DescripcionTema: 'required',
            ContenidoTema: 'required'
        },
        messages: {
            TituloTema: 'Ingrese el título del tema',
            IdCategoria: 'Complete la categoría a la que pertenece el tema',
            PaisCodigo: 'Ingrese el País',
            IdCiudad: 'Ingrese la ciudad',
            DescripcionTema: 'Ingrese la descripción del tema',
            ContenidoTema: 'Ingrese el contenido del tema'
        }
    });

</script>