﻿@model List<ExperienciaTuristica.Models.TemaModel>

@{
    ViewBag.Subject = "Visualización Temas";
    ViewBag.Description = "Mostrará todos los temas que se encuentren cargados en Experiencia Turística";
    ViewBag.Title = "Todos los Temas de Experiencia Turistica";
    ViewBag.Keywords = "clima, turismo, experiencia, viaje, viajes, viajeros, viajero, aventura, excursion, viajante, auto, colectivo, avion, moto, emigrar paseo, ruta, hospedaje, paisaje, argentina, trasladarse, desplazarse, rodar, navegar, tema, temas, comentario, comentarios, discusion";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    var index = 0;
}

@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/Temas.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8">
        <div style="text-align: center; margin-bottom: 10px;">
            <h1 style="font-size:3em;">Temas Populares</h1>
            <div style="text-align: center; margin-bottom: 10px;">
                <input style="background-color: #FFFFFF; color: rgba(19, 19, 19, 0.69);" type="text" id="BusquedaTemas" class="busqueda-temas" placeholder="Buscar...">
                <div class="popover fade bottom in" role="tooltip" id="popover-busqueda-tema" style="top: 88px; left: 250px; max-width: 275px; width: 275px; max-height: 500px; overflow-y: scroll; display: none;"
                    hidden>
                    <div class="arrow" style="left: 50%;"></div>
                    <h3 class="popover-title" style="display: none;"></h3>
                </div>
            </div>
            @if (Session["Usuario"] != null)
            {
                <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Tema/CrearTema">Nuevo Tema</a>  
            }

        </div>

        @Html.Grid(Model).Columns(columns =>
           {
           columns.Add().RenderValueAs(c => @<div class="panel-group" id="acordeon">

               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title">
                           <a class="accordion-toggle" style="color:black;" data-toggle="collapse" data-parent="#acordeon" href="#collapse_@index">@Html.Raw(c.TituloTema)
                           </a>
                       </h4>
                   </div>
                   <div id="collapse_@index" class="panel-collapse collapse">
                       <div class="panel-body">
                           @Html.Raw(c.DescripcionTema)
                       </div>
                       <center><a type="button" style="color:black;" class="btn btn-default btn-xs" href="/Tema/MostrarTema?IdTema=@Html.Raw(c.IdTema)">Asistir al debate</a></center>
                   </div>
               </div>
               @{index++;}

           </div>).Encoded(false).Sanitized(false).SetWidth("10%");

           }).WithPaging(5)

        @*//@Html.Grid(Model).Columns(columns =>
        //   {
        //       columns.Add(c => c.IdTema).Titled("Título del tema")
        //                  .Sanitized(false)
        //                  .Encoded(false)
        //                  .RenderValueAs(d => "<i class='fa fa-caret-right'><a style='color:black; font-size: large;' href='/Tema/MostrarTema?IdTema=" + d.IdTema + "'>" + d.TituloTema + "</a></i><br>" +
        //                  "<div id='div-descripcion-tema' onclick='createEllipsis()'><p>" + d.DescripcionTema + "</p></div>");

        //   }).WithPaging(8)

    *@
    </div>
    <div class="col-md-4">
        <h3>Categorías</h3>

        @foreach (var cat in ViewBag.listaCategorias)
        {
            <p style="margin-bottom: 5px; margin-top:5px;"><a href="/Tema/MostrarTemasPorCategoria?IdCategoria=@cat.IdCategoria">@cat.DescripcionCategoria</a></p>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BusquedaTemas").bind("keydown", function (e) {
            if (e.keyCode == '8') {
                $("#popover-busqueda-tema").empty();
                $("#popover-busqueda-tema").hide();
            }
            else {
                if ($("#BusquedaTemas").val().length > 3) {
                    datos = { parametroBusqueda: $("#BusquedaTemas").val() }
                    $.ajax({
                        type: "POST",
                        url: "/Busqueda/BuscarTema/",
                        data: datos,
                        success: function (data) {
                            $("#popover-busqueda-tema").empty();
                            if (data.length == 0) {
                                $("#popover-busqueda-tema").append("No se encontraron resultados");
                            }
                            else {
                                var intTema = 0;
                                var intComentario = 0;
                                var intCategoria = 0;
                                $.each(data, function (index, value) {
                                    if (value.TipoResultado == "Tema") {
                                        if (intTema == 0) {
                                            $("#popover-busqueda-tema").append("<div style='padding-left:3px; font-weight:bold;'>Tema</div>");
                                            intTema = 1;
                                        }
                                        $("#popover-busqueda-tema").append("<div style='padding-left: 20px; padding-right: 5px;'><a style='text-decoration: none' href='/Tema/MostrarTema?IdTema=" + value.Id + "'>" + value.TituloRepresentativo + "</a></div>");
                                    }
                                    else if (value.TipoResultado == "Comentario") {
                                        if (intComentario == 0) {
                                            $("#popover-busqueda-tema").append("<div style='padding-left:3px; font-weight:bold;'>Comentario</div>");
                                            intComentario = 1;
                                        }
                                        $("#popover-busqueda-tema").append("<div style='padding-left: 20px; padding-right: 5px;'><a style='text-decoration: none' href='/Tema/MostrarTema?IdTema=" + value.Id + "'>" + value.TituloRepresentativo + "</a></div>");
                                    }
                                    else if (value.TipoResultado == "Categoría") {
                                        if (intCategoria == 0) {
                                            $("#popover-busqueda-tema").append("<div style='padding-left:3px; font-weight:bold;'>Categoría</div>");
                                            intCategoria = 1;
                                        }
                                        $("#popover-busqueda-tema").append("<div style='padding-left: 20px; padding-right: 5px;'><a style='text-decoration: none' href='/Tema/MostrarTemasPorCategoria?IdCategoria=" + value.Id + "'>" + value.TituloRepresentativo + "</a></div>");
                                    }
                                });
                            }

                            $("#popover-busqueda-tema").show();
                        }
                    });
                }
            }
        });
    });
</script>
