﻿@model List<ExperienciaTuristica.Models.TemaModel>

@{
    ViewBag.Title = "MisTemas";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />

<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Temas.css" rel="stylesheet" />

<center>
<h1 style="font-size:3em;">Mis Temas</h1>
<a type="button" class="btn btn-default btn-xs" style="width: 30%" href="/Tema/CrearTema">Nuevo Tema</a>
</center>

<h3>@ViewBag.Mensaje</h3>

@Html.Grid(Model).Columns(columns =>
           {   columns.Add(c => c.TituloTema).Titled("Título").Sortable(true).Filterable(true).SetWidth("40%");
               columns.Add(c => c.FechaHoraTema).Titled("Fecha").Sortable(true).Filterable(true).SetWidth("20%");
               columns.Add(c => c.NombreCiudad).Titled("Lugar").Sortable(true).Filterable(true).SetWidth("20%");
               columns.Add(c => c.IdTema).Titled("Acciones")
                          .Sanitized(false)
                          .Encoded(false)
                          .RenderValueAs(d => "<a href='/Tema/MostrarTema?IdTema="+d.IdTema+"'><i class='fa fa-search-plus iconos-acciones'></i></a>"
                                              + "<a href='/Tema/EditarTema?IdTema="+d.IdTema+"'><i class='fa fa-pencil-square-o iconos-acciones'></i></a>"
                                              + "<a href='/Tema/EliminarTema?IdTema="+d.IdTema+"'><i class='fa fa-times iconos-acciones'></i></a>").SetWidth("20%");
           }).WithPaging(8).WithMultipleFilters()

