﻿@model ExperienciaTuristica.Models.TemaModel
@{
    ViewBag.Title = "MostrarTema";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<link href="~/Content/Temas.css" rel="stylesheet" />

<div class="container">
    <div itemscope itemtype="http://schema.org/Article" class="row div-tema">
        <div class="titulo-index">
            <h2 itemprop="name">@Model.TituloTema</h2>
            <label hidden id="idtema">@Model.IdTema</label>
        </div>
        <h4>@ViewBag.categoria - @ViewBag.ciudad - <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">@Model.NombreUsuarioTema </span></span></h4>
        <div>
            <span itemprop="articleBody">
                @Model.ContenidoTema
            </span>
        </div>
        <div>
            @if (Model.IdGaleria != null)
            { 
                <p style="margin-top: 15px;"><a href="/Galeria/Index?id=@Model.IdGaleria">Ir a la galería de imagenes relacionada...</a></p>
            }
        </div>
        <div>
            @if (Model.UrlYoutube != null)
            { 
                <iframe class="youtube-player" type="text/html" width="640" height="385" src="@Model.UrlYoutube" frameborder="0"></iframe>
            }
        </div>
        @{RepositorioClases.Usuario usuario = (RepositorioClases.Usuario)(Session["Usuario"]); }
        @if (usuario != null)
        {
            if (usuario.IdFacebook != null)
            {
                <a type="button" class="btn btn-default btn-xs" style="width: 30%;" data-toggle="modal" data-target="#ModalCompartirFacebook" onclick="completarValorComFace(@Model.IdTema)">Compartir Facebook</a>
        
            }
            @*
            if (usuario.IdTwitter != null)
            {
                <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Tema/PostStatus">Compartir Twitter</a>  
            }*@
        }
    </div>
    @* Agregar comentarios que ya estan hechos *@
    @foreach (var comentario in @Model.Comentarios)
    {
        <div class="row div-comentarios">
            <div class="col-md-2 border-derecho">
                <div>
                    @if (Session["Usuario"] == null)
                    {
                        <a data-toggle="modal" data-target="#ModalInicio" onclick="ocultarError()">@comentario.NombreUsuario</a>
                    }
                    else
                    {
                        <a href="/Perfil/VerPerfil?id=@comentario.IdUsuario">@comentario.NombreUsuario</a>
                    }
@*                    @comentario.FotoPerfil*@
                    @comentario.FechaHoraComentario
                </div>
            </div>
            <div class="col-md-10">
                <div class="comentario-tema">
                    @comentario.DescripcionComentario
                </div>
                @if (@comentario.ComentarioEditable == true)
                {
                    <a data-toggle="modal" data-target="#ModalEditar" onclick="completarValor('@comentario.DescripcionComentario',@comentario.IdComentario)">Editar Comentario</a>
                    <a onclick="eliminar(@comentario.IdComentario)">Eliminar Comentario</a>
                }
                @if (@comentario.PermitirDenuncia == true)
                { 
                    <a data-toggle="modal" data-target="#ModalDenunciar" onclick="completarValorDen(@comentario.IdComentario)">Denunciar</a>
                }
            </div>

        </div>
    }
    @if (Session["Usuario"] != null)
    {
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="control-form" style="text-align: center;">
                <textarea id="Comentario" style="width: 100%;"></textarea>
            </div>
            <div class="control-form" style="text-align: center;">
                <button class="btn btn-default btn-xs" onclick="comentar()" style="width: 100%;">Comentar</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    }
</div>

@*Modal para editar un comentario*@
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Comentario</h4>
            </div>
            <div class="modal-body">
                <div style="border: 0.2px solid;">
                    <label hidden id="idcomentario"></label>
                    Edite su comentario:
                    <textarea id="texteditar"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editarcomentario()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* Modal para denunciar un comentario *@
<div class="modal fade" id="ModalDenunciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Denunciar Comentario</h4>
            </div>
            <div class="modal-body">
                <div style="border: 0.2px solid;">
                    <label hidden id="idcomentariodenuncia"></label>
                    Ingrese el motivo de su denuncia para que sea evaluada por el moderador del sitio:
                    <textarea id="textmotivo"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="denunciar()">Denunciar Comentario</button>
            </div>
        </div>
    </div>
</div>

@* Modal compartir tema en Facebook *@
<div class="modal fade" id="ModalCompartirFacebook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compartir tema en Facebook</h4>
            </div>
            <div class="modal-body">
                <div style="border: 0.2px solid;">
                    <label hidden id="idtemacompartirface"></label>
                    Ingrese el estado que desea que se muestre en facebook:
                    <textarea id="textcompartirface"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="compartirFace()">Compartir</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function comentar() {
        var datos = {
            "descripcionComentario": $("#Comentario").val(),
            "idTema": parseInt($("#idtema").text())
        }
        $.ajax({
            type: 'POST',
            //Llamado al metodo en el controlador
            url: '/Comentario/CrearComentario/',
            dataType: 'json',
            //Parametros que se envian al metodo del controlador
            data: datos,
            //En caso de resultado exitoso
            success: function (dato) {
                if (dato == false) {
                    alert("Ha ocurrido un error en el envio del comentario");
                }
                else {
                    location.reload();
                }
            },
            //Mensaje de error en caso de fallo
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
    }
</script>

<script type="text/javascript">
    function editarcomentario() {
        var datos = {
            "idComentario": parseInt($("#idcomentario").text()),
            "descripcion": $("#texteditar").val()
        }
        $.ajax({
            type: 'POST',
            //Llamado al metodo en el controlador
            url: '/Comentario/EditarComentario/',
            dataType: 'json',
            //Parametros que se envian al metodo del controlador
            data: datos,
            //En caso de resultado exitoso
            success: function (dato) {
                if (dato == false) {
                    alert("Ha ocurrido un error en la actualizacion del comentario");
                }
                else {
                    location.reload();
                }
            },
            //Mensaje de error en caso de fallo
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
    }
</script>
<script type="text/javascript">
    function completarValor(descripcion, idcom) {
        $("#texteditar").val(descripcion)
        $("#idcomentario").text(idcom)
    }

</script>

<script type="text/javascript">
    function completarValorDen(idcomden) {
        $("#idcomentariodenuncia").text(idcomden)
    }

</script>

<script type="text/javascript">
    function denunciar() {
        var datos = {
            "idComentario": parseInt($("#idcomentariodenuncia").text()),
            "motivo": $("#textmotivo").val()
        }
        $.ajax({
            type: 'POST',
            //Llamado al metodo en el controlador
            url: '/Comentario/CrearDenuncia/',
            dataType: 'json',
            //Parametros que se envian al metodo del controlador
            data: datos,
            //En caso de resultado exitoso
            success: function (dato) {
                if (dato == false) {
                    alert("Ha ocurrido un error en el envío de la denuncia.");
                    location.reload();
                }
                else {
                    alert("Su denuncia ha sido enviada.");
                    location.reload();
                }
            },
            //Mensaje de error en caso de fallo
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
    }
</script>

<script type="text/javascript">
    function completarValorComFace(idtemfa) {
        $("#idtemacompartirface").text(idtemfa)
    }

</script>

<script type="text/javascript">
    function compartirFace() {
        var datos = {
            "idTemaComFace": parseInt($("#idtemacompartirface").text()),
            "estado": $("#textcompartirface").val()
        }
        $.ajax({
            type: 'POST',
            //Llamado al metodo en el controlador
            url: '/Tema/CompartirFacebook/',
            dataType: 'json',
            //Parametros que se envian al metodo del controlador
            data: datos,
            //En caso de resultado exitoso
            success: function (dato) {
                if (dato == false) {
                    alert("Ha ocurrido un error en el envío de la denuncia.");
                    location.reload();
                }
                else {
                    alert("El tema fue compartido en su muro de facebook.");
                    location.reload();
                }
            },
            //Mensaje de error en caso de fallo
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
    }
</script>


<script type="text/javascript">
    function eliminar(idComentario) {
        var confirmacion = confirm("¿Seguro que desea eliminar el comentario?");
        if (confirmacion == true) {

            var datos = {
                "idComentario": idComentario,
            }

            $.ajax({
                type: 'GET',
                //Llamado al metodo en el controlador
                url: '/Comentario/EliminarComentario/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: datos,
                //En caso de resultado exitoso
                success: function (dato) {
                    if (dato == false) {
                        alert("Ha ocurrido un error en la eliminación del comentario");
                    }
                    else {
                        location.reload();
                    }
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        } else {
            
        }
    }
</script>
