﻿@model ExperienciaTuristica.Models.ComunidadIndexModel
@{
    ViewBag.Subject = "Visualización Página Principal";
    ViewBag.Description = "Mostrará la página principal de la comunidad Experiencia Turística";
    ViewBag.Title = "Página Principal Experiencia Turística";
    ViewBag.Keywords = "clima, experienciaturistica, turista, turismo, turistico, experiencia, turistica, viaje, viajes, viajeros, viajero, comunidad, aventura, excursion, viajante, auto, colectivo, avion, moto, emigrar, paseo, ruta, hospedaje, paisaje, argentina, trasladarse, desplazarse, rodar, navegar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    var index = 0;
}
<link href="~/Content/Galerias.css" rel="stylesheet" />
<link href="~/Content/Temas.css" rel="stylesheet" />

<div class="row row-comunidad">
    <div class="col-md-12">
        <div style="text-align: center;">
            <h2 style="margin-bottom: 0px; margin-top: 25px;">Ultimos temas de discusión</h2>
            @if (Session["Usuario"] != null)
            {
                <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Tema/CrearTema">Nuevo Tema</a>
            }
        </div>
        <div class="panel-group" id="acordeon">
            <div class="row" style="margin-top: 5px;">
                @foreach (var tem in Model.temas)
                { 
                    <div class="col-sm-4 wowload fadeInLeft animated thumbnail" style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <i class="fa fa-users"></i><a class="accordion-toggle" data-toggle="collapse" data-parent="#acordeon" href="#collapse_@index">@tem.TituloTema
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_@index" class="panel-collapse collapse">
                            <div class="panel-body">
                                @tem.DescripcionTema
                            </div>
                            <center><a type="button" class="btn btn-default btn-xs" href="/Tema/MostrarTema?IdTema=@tem.IdTema">Asistir al debate</a></center>
                        </div>
                    </div>
                    index++;
                }
            </div>
        </div>
    </div>
</div>
<div class="row row-comunidad">
    <div class="col-md-12">
        <div style="text-align: center; margin-bottom: 5px;">
            <h2 style="margin-bottom:0px; margin-top:25px;">Galerías</h2>
            @if (Session["Usuario"] != null)
            {
                <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Galeria/CrearGaleria">Nueva Galeria</a>
            }

        </div>
        <div id="works" class=" clearfix grid">
            @foreach (var gal in Model.galerias)
            { 
                <figure class="effect-oscar  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <img src="@gal.imagenesCargadas.First().PathImagen" alt="img01" style="width:100%; height:280px;">
                    <figcaption>
                        <h2 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@gal.TituloGaleria</h2>
                        <p>
                            @Html.Raw(@gal.DescripcionGaleria)<br>
                            <a href="/Galeria/MostrarGaleria?id=@gal.IdGaleria" title="1">Ver Más</a>
                        </p>
                    </figcaption>
                </figure>
            }
        </div>
    </div>
</div>
@*@if (Model.socialUser != null)
{
    <div class="row row-comunidad" style="padding: 20px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @if (Model.socialUser.IdTwitter != null)
            { 
                <div id="DivAmigosTwitter" style="margin: 0 auto 0 auto; position: absolute; background-color: white; width: 100%;" hidden>
                    <select id="AmigosTwitter" class="form-control"></select>
                    <button type="submit" class="btn btn-default" style="width: 49%; padding-top: 1px; padding-bottom: 1px;"
                        onclick="enviarMensajeTwitter()">
                        Enviar invitación</button>
                    <button type="submit" class="btn btn-default" style="width: 49%; padding-top: 1px; padding-bottom: 1px;"
                        onclick="cerrarInvitaciones()">
                        Cancelar</button>
                </div>
                <div id="DivAmigosFacebook" style="margin: 0 auto 0 auto; position: absolute; background-color: white; width: 100%;" hidden>
                    <select id="AmigosFacebook" class="form-control"></select>
                    <button type="submit" class="btn btn-default" style="width: 49%; padding-top: 1px; padding-bottom: 1px;"
                        onclick="enviarMensajeFacebook()">
                        Enviar invitación</button>
                    <button type="submit" class="btn btn-default" style="width: 49%; padding-top: 1px; padding-bottom: 1px;"
                        onclick="cerrarInvitaciones()">
                        Cancelar</button>
                </div>
                <a type="button" class="btn btn-default btn-xs" onclick="obtenerListaAmigosTwitter(@Model.socialUser.IdTwitter)" style="width: 49%; margin-right: 1%; height: 55px; padding-top: 19px; color: black;">Invitar amigos de twitter</a>
                <a type="button" class="btn btn-default btn-xs" onclick="obtenerListaAmigosFacebook(@Model.socialUser.IdFacebook)" style="width: 49%; height: 55px; padding-top: 19px; color: black; padding-left: 40px;">Invitar amigos de Facebook</a>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
}*@

<!-- Modal Busqueda Avanzada-->
<script type="text/javascript">
    function obtenerListaAmigosTwitter(idUsu) {
        $.ajax({
            type: 'GET',
            url: '/Comunidad/ObtenerListaAmigosTwitter',
            data: { id: idUsu },
            success: function (resultado) {
                $("#AmigosTwitter").empty();
                $.each(resultado, function (index, value) {
                    $("#AmigosTwitter").append("<option value=" + value.IdTwitter + ">" + value.UserName + "</option>");
                });
                $('#DivAmigosTwitter').show();
            }
        });
        $('#DivAmigosTwitter').show();
    }

    function obtenerListaAmigosFacebook(idUsu) {
        debugger;

        $.ajax({
            type: 'GET',
            url: '/Comunidad/ObtenerListaAmigosFacebook',
            data: { id: idUsu },
            success: function (resultado) {
                debugger;
                $("#AmigosFacebook").empty();
                $.each(resultado, function (index, value) {
                    $("#AmigosFacebook").append("<option value=" + value.IdTwitter + ">" + value.UserName + "</option>");
                });
                $('#DivAmigosFacebook').show();
            }
        });
        $('#DivAmigosTwitter').show();
    }

    function enviarMensajeTwitter() {
        if ($("AmigosTwitter").val() == "") {
            alert("No ha seleccionado ningun amigo.")
            return false
        }
        else {
            $.ajax({
                type: 'GET',
                url: '/Comunidad/SendTweetMessage',
                data: { id: $("AmigosTwitter").val() },
                success: function (resultado) {
                    if (resultado == "Ok") {
                        alert("Se envió el mensaje correctamente.");
                        cerrarInvitaciones();
                    }
                    else {
                        alert("Ha ocurrido un error al enviar el mensaje.");
                    }
                }
            });
        }
    }

    function cerrarInvitaciones() {
        $('#DivAmigosTwitter').hide();
        $('#DivAmigosFacebook').hide();
    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Content/Bootstrap-Image-Gallery-master/js/bootstrap-image-gallery.min.js"></script>
