﻿@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Mensaje</h2>

<a href="/Home/Index">Volver al Home</a>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#div-botones').removeClass('no-visible');
        $('#btn-perfil').addClass('no-visible');
    });
</script>