﻿@model ExperienciaTuristica.Models.CaptchaModel
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div id="Validacion">
            <h3 style="text-align: center; width: 100%;">Complete el captcha para activar el usuario</h3>
            <div style="margin: 0 auto 0 auto; display: block; width: 40%;">
                <div class="editor-label" style="margin: 0 auto 0 auto; display: block; width: 80%;">
                    @Html.LabelFor(model => model.Captcha)
                    @Html.HiddenFor(model => model.id)
                    <a href="@Url.Action("/Index")">
                        <img alt="Captcha" src="@Url.Action("/CaptchaImage")" style="" />
                    </a>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Captcha)
                    @Html.ValidationMessageFor(model => model.Captcha)
                </div>
                <div style="margin: 0 auto 0 auto; display: block; width: 80%;"> 
                    <a class="btn" onclick="validarCaptcha()">Activar Usuario</a>
                </div>
            </div>
        </div>
        <div id="UsuarioValidado" hidden>
            <h3 style="text-align: center; width: 100%;">El usuario fue activado correctamente</h3>
            <div style="margin: 0 auto 0 auto; display: block; width: 40%;">
                <div style="margin: 0 auto 0 auto; display: block; width: 80%;"> 
                    <a class="btn" href="/Home/Index">Volver al Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<script type="text/javascript">
    function validarCaptcha() {
        var datos = { Captcha: $("#Captcha").val(), id: $("#id").val() }
        $.ajax({
            type: "GET",
            url: "/General/ValidarCaptcha/",
            data: datos,
            success: function (data) {
                if (data == "Ok") {
                    $("#Validacion").hide();
                    $("#UsuarioValidado").show()
                }
                else {
                    if (data == "Error") {
                        alert("Validacion incorrecta");
                    }
                    else {
                        alert("Ocurrio un error en la verificacion o el usuario ya fue activado");
                    }
                }
            }
        });
    };
</script>

