﻿@model ExperienciaTuristica.Models.CaptchaModel
@{
    ViewBag.Title = "ConfirmarContra";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div id="Validacion">
            <h3 style="text-align: center; width: 100%;">Modifique su Contraseña</h3>
            <div style="margin: 0 auto 0 auto; display: block; width: 40%;">
                <div>
                    <p>Ingrese la nueva Contraseña</p>
                    @Html.Password("Clave")
                </div>
                <div>
                    <p>Confirme la nueva Contraseña</p>
                    @Html.Password("ConfirmarClave")
                </div>
            </div>
            <div style="margin: 0 auto 0 auto; display: block; width: 40%;">
                <div class="editor-label" style="margin: 0 auto 0 auto; display: block; width: 80%;">
                    @Html.LabelFor(model => model.Captcha)
                    @Html.HiddenFor(model => model.id)
                    <a href="@Url.Action("/Index")">
                        <img alt="Captcha" src="@Url.Action("/CaptchaImage")" style="" />
                    </a>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Captcha)
                    @Html.ValidationMessageFor(model => model.Captcha)
                </div>
                <div style="margin: 0 auto 0 auto; display: block; width: 80%;"> 
                    <a class="btn" onclick="validarCaptcha()">Cambiar contraseña</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<script type="text/javascript">
    function validarCaptcha() {
        var datos = { Captcha: $("#Captcha").val(), id: $("#id").val() }
        var datos2 = { clave: $("#Clave").val(), id: $("#id").val() }
        $.ajax({
            type: "GET",
            url: "/General/ValidarCaptchaContra/",
            data: datos,
            success: function (data) {
                if (data == "Ok") {
                    if ($('#Clave').val() == $('#ConfirmarClave').val()) {
                        $.ajax({
                            type: "POST",
                            url: "/General/ConfirmarContra/",
                            data: datos2,
                            success: function (data) {
                                if (data == true) {
                                    alert("La contraseña ha sido modificada");
                                    window.location.href = "/Home/Index";
                                }
                            }
                        });
                    }
                    else {
                        alert("Las contraseñas no coinciden");
                    }
                }
                else {
                    if (data == "Error") {
                        alert("Validacion incorrecta");
                    }
                    else {
                        alert("Ocurrio un error en la verificacion o el usuario ya fue activado");
                    }
                }
            }
        });

    };
</script>