﻿@{
    ViewBag.Title = "EnviarMailCambioContra";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<fieldset>
    <legend>Ingrese su email para modificar su contraseña: </legend>
    @Html.TextBox("mail")
    <input type="button" onclick="enviarMailContra()" value="Enviar Mail" />
</fieldset>

<script type="text/javascript">
    function enviarMailContra() {
        var datos = {mail:$('#mail').val()}
        $.ajax({
            type: "POST",
            url: "/General/EnviarMailCambioContra/",
            data: datos,
            success: function (data) {
                if (data == "Ok") {
                    alert("Se ha enviado el mail para restablecer su clave.");
                    window.location.href = "/Home/Index";
                }
                else {
                    alert("El correo ingresado no existe o no es valido.")
                }
            }
        });
    };
</script>