﻿@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<p>This Privacy Policy governs the manner in which Experiencia turistica collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="http://experienciaturistica.apphb.com/">http://experienciaturistica.apphb.com/</a> website ("Site").</p>

<h3>Personal identification information</h3>
<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, fill out a form, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site.Users may be asked for, as appropriate, email address. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

<h3>Non-personal identification information</h3>
<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

<h3>Web browser cookies</h3>
<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

<h3>How we use collected information</h3>
<p>Experiencia turistica may collect and use Users personal information for the following purposes:</p>
<ul>
  <li>
    <i>To run and operate our Site</i><br/>
    We may need your information display content on the Site correctly.
  </li>
</ul>

<h3>How we protect your information</h3>
<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

<h3>Sharing your personal information</h3>
<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. </p>

<p>We may share or sell information with third parties for marketing or other purposes.</p>

<h3>Sharing your personal information</h3>
<p>This Privacy Policy governs the manner in which Experiencia turistica collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="http://experienciaturistica.apphb.com/">http://experienciaturistica.apphb.com/</a> website ("Site").</p>

<h3>Personal identification information</h3>
<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, fill out a form, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site.Users may be asked for, as appropriate, email address. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

<h3>Non-personal identification information</h3>
<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

<h3>Web browser cookies</h3>
<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

<h3>How we use collected information</h3>
<p>Experiencia turistica may collect and use Users personal information for the following purposes:</p>
<ul>
  <li>
    <i>To run and operate our Site</i><br/>
    We may need your information display content on the Site correctly.
  </li>
</ul>

<h3>How we protect your information</h3>
<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

<h3>Sharing your personal information</h3>
<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. </p>

<p>We may share or sell information with third parties for marketing or other purposes.</p>

<h3>Changes to this privacy policy</h3>
<p>Experiencia turistica has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

<h3>Your acceptance of these terms</h3>
<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes. Privacy policy created by <a href="http://www.generateprivacypolicy.com" target="_blank">GeneratePrivacyPolicy.com</a></p>

<h3>Contacting us</h3>
<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.</p>

<p>This document was last updated on June 16, 2015</p>
