﻿@model ExperienciaTuristica.Models.UsuarioModel
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2 style="margin-bottom: 10px;">Registrar</h2>

<link href="~/Content/Home.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Sistema/Home.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#confirmar-contraseña').val("");
    });
</script>
    <div class="row">
        @using (Html.BeginForm("Registrar", "General", FormMethod.Post, new { @id = "form-Registro", @novalidate = "novalidate" }))
        {
        <div class="col-md-6" style="border-style: groove; padding-top: 7px;">
            <div class="editor-label">
                @Html.LabelFor(Model => Model.NombreApellido)
            </div>
            <div class="editor-field">
                @Html.EditorFor(Model => Model.NombreApellido)
                @Html.ValidationMessageFor(Model => Model.NombreApellido)
            </div>

            <div class="editor-label">
                @Html.LabelFor(Model => Model.NombreUsuario)
            </div>
            <div class="editor-field">
                @Html.EditorFor(Model => Model.NombreUsuario)
                @Html.ValidationMessageFor(Model => Model.NombreUsuario)
            </div>

            <div class="editor-label">
                @Html.LabelFor(Model => Model.Contraseña)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(Model => Model.Contraseña)
                @Html.ValidationMessageFor(Model => Model.Contraseña)
            </div>
            <div class="form-group">
                <label for="contraseña">Confirmar Contraseña: </label>
                <input type="password" class="form-control" id="confirmar-contraseña" style="width: 87%;">
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Mail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Mail)
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>
        <div class="col-md-6" style="border-style: groove; padding-top: 7px;">

            <div class="editor-label">
                @Html.LabelFor(x => x.PaisCodigo)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.IdCiudad)
            </div>
            <div class="editor-field">
                @*@Html.DropDownListFor(x => x.IdCiudad, new SelectList(ViewBag.ciudades, "CiudadId", "CiudadNombre"), "Selecciona una ciudad", new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Direccion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FechaNacimiento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => Model.FechaNacimiento)
                @Html.ValidationMessageFor(model => Model.FechaNacimiento)
            </div>
                <img src="~/Content/Imagenes/cargando.gif" hidden />
            <button type="submit" class="btn btn-primary" id="EnviarRegistro" onclick="mostrarCargando()" style="margin-bottom: 13px;">Enviar</button>
        </div>
        }
    </div>
   
<script type="text/javascript">
    $(document).ready(function () {
        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Home/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#FechaNacimiento').datepicker()

        $('#Mail').change(function () {
            $.ajax({
                type: 'GET',
                //Llamado al metodo en el controlador
                url: '/General/ControlarUsuarioRepetido',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: {mail:$('#Mail').val()},
                //En caso de resultado exitoso
                success: function (dato) {
                    if (dato == true) {
                        alert("El correo ya ha sido utilizado.");
                    }
                }
            });
        });

    });
</script>
<script type="text/javascript">
    $("#form-Registro").validate({
        rules: {
            NombreApellido: 'required',
            NombreUsuario: 'required',
            Contraseña: {
                required: true,
                minlength: 4
            },
            Mail: {
                required: true,
                email: true
            },
            Direccion: 'required',
            FechaNacimiento: 'required',
            PaisCodigo: 'required',
            IdCiudad: 'required',
        },
        messages: {
            NombreApellido: 'Ingrese su Nombre y Apellido',
            NombreUsuario: 'Ingrese su Nombre de Usuario',
            Contraseña: {
                required: 'Ingrese su contraseña',
                minlength: 'Su contraseña debe ser mayor a 4 caracteres'
            },
            Mail: 'Ingrese un mail válido',
            Direccion: 'Ingrese la Dirección',
            FechaNacimiento: 'Ingrese la fecha de nacimiento',
            PaisCodigo: 'Ingrese el País',
            IdCiudad: 'Ingrese la ciudad'
        },
        submitHandler: function (form) {
            if ($('#Contrase_a').val() != $('#confirmar-contraseña').val()) {
                alert('Las contraseñas no coinciden');
                return false;
            }
            else {
                form.submit();
                alert('Se envió un mail a su correo para verificar la cuenta');
            }
        }
    });

</script>