﻿@model ExperienciaTuristica.Models.UsuarioModel

<link href="~/Content/Admin.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="container">
    <div class="row">
        <div class="titulo-index">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="padding-left: 60px;">

            <div class="datagrid" style="width: 483px;">
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div id="paging">
                                    <ul>
                                        <li><a href="#" onclick="habilitarBoton()">Guardar</a></li>
                                        <li><a href="/Usuarios/Index">Volver</a></li>
                                    </ul>
                                </div>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <fieldset>
                                <legend>Usuario</legend>
                                <td id="Tit-Crear-Editar">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => Model.NombreUsuario)
                                    </div>
                                    <div class="editor-label" id="label-contra">
                                        @Html.LabelFor(model => Model.Contraseña)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.NombreApellido)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Mail)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.IdRol)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(x => x.PaisCodigo)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(x => x.IdCiudad)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Direccion)
                                    </div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.FechaNacimiento)
                                    </div>
                                    <div class="editor-label" id="label-estado">
                                        @Html.LabelFor(model => model.IdEstado)
                                    </div>
                                </td>
                                <td>

                                    <div class="editor-field">
                                        @Html.EditorFor(model => Model.NombreUsuario)
                                        @Html.ValidationMessageFor(model => Model.NombreUsuario)
                                    </div>
                                    <div class="editor-field" id="field-contra">
                                        @Html.EditorFor(model => Model.Contraseña)
                                        @Html.ValidationMessageFor(model => Model.Contraseña)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.NombreApellido)
                                        @Html.ValidationMessageFor(model => model.NombreApellido)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => Model.Mail)
                                        @Html.ValidationMessageFor(model => Model.Mail)
                                    </div>

                                    <div class="editor-field">
                                        @Html.DropDownListFor(model => model.IdRol, new SelectList(Model.Roles, "IdRol", "DescripcionRol"), "Selecciona un Rol", new { @class = "form-control" })
                                    </div>

                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.PaisCodigo, new SelectList(ViewBag.paises, "PaisCodigo", "PaisNombre"), "Selecciona un pais", new { @class = "form-control" })
                                    </div>

                                    <div class="editor-field">
                                        @Html.DropDownListFor(model => model.IdCiudad, new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } }, "Selecciona una ciudad", new { @class = "form-control" })
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => Model.Direccion)
                                        @Html.ValidationMessageFor(model => Model.Direccion)
                                    </div>

                                    <div class="editor-field datepicker">
                                        @Html.EditorFor(model => Model.FechaNacimiento)
                                        @Html.ValidationMessageFor(model => Model.FechaNacimiento)
                                    </div>
                                    <div class="editor-field" id="field-estado">
                                        @Html.DropDownListFor(x => x.IdEstado, new SelectList(ViewBag.estados, "IdEstado", "DescripcionBloqueo"), "Selecciona un estado", new { @class = "form-control" })
                                    </div>
                                </td>
                            </fieldset>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Content/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script type="text/javascript">
    function habilitarBoton() {
        var a = document.getElementById("btn-guardar");
        a.click();
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Home/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

