﻿@model ExperienciaTuristica.Models.UsuarioModel

@{
    ViewBag.Title = "CrearUsuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml"; 
}

<h2>Crear Usuario</h2>
<strong style="color: red;">@ViewBag.Mensaje </strong>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Usuario</legend>

        @Html.Partial("_CrearOEditar", Model)

        <p>
            <input id="btn-guardar" type="button" value="Crear" onclick="guardarUsuario()" hidden />
        </p>

    </fieldset>
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FechaNacimiento").datepicker();

        $("#label-estado").css("display", "none");
        $("#field-estado").css("display", "none");

        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Home/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });

    function guardarUsuario() {
        var data = {
            Contraseña: $("#Contrase_a").val(),
            Direccion: $("#Direccion").val(),
            FechaNacimiento: $("#FechaNacimiento").val(),
            IdEstado: $("#IdEstado").val(),
            IdCiudad: $("#IdCiudad").val(),
            IdRol: $("#IdRol").val(),
            IdUsuario: $("#IdUsuario").val(),
            Mail: $("#Mail").val(),
            NombreUsuario: $("#NombreUsuario").val(),
            NombreApellido: $("#NombreApellido").val(),
        };
        if ($("#IdCiudad").val() == "") {
            alert("Por favor complete todos los campos solicitados.");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/Usuarios/CrearUsuario/',
                dataType: 'json',
                data: data,
                success: function (resultado) {
                    if (resultado == "ErrorUsuarioRepetido") {
                        alert("El mail de usuario ya está siendo utilizado por otro usuario.");
                    }
                    else {
                        if (resultado == "ErrorModelo") {
                            alert("Por favor complete todos los campos solicitados.");
                        }
                        else {
                            alert("Usuario creado correctamente.");
                            window.location.href = "@Url.Action("Index","Usuarios")";
                        }
                    }
                }
            });
        }
    }
</script>

