﻿@model ExperienciaTuristica.Models.UsuarioModel

@{
    ViewBag.Title = "DetalleUsuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<link href="~/Content/Admin.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="titulo-index">
            <h2>Detalles del usuario: @Model.NombreApellido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div id="paging">
                                    <ul>
                                        <li><a href="/Usuarios/EditarUsuario/@Model.IdUsuario">Editar</a></li>
                                        <li><a href="/Usuarios/Index">Volver</a></li>
                                    </ul>
                                </div>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <fieldset>
                                <legend>Usuario</legend>
                                <td style="width: 50%; text-align: right;">
                                    <div class="display-label">Nombre de usuario:</div>
                                    <div class="display-label">Correo electrónico:</div>
                                    <div class="display-label">Rol:</div>
                                    <div class="display-label">Ciudad:</div>
                                    <div class="display-label">Direccion:</div>
                                    <div class="display-label">Fecha de nacimiento:</div>
                                    <div class="display-label">Estado:</div>
                                </td>
                                <td>
                                    <div class="display-field">@Model.NombreUsuario</div>
                                    <div class="display-field">@Model.Mail</div>
                                    <div class="display-field">@Model.DescripcionRol</div>
                                    <div class="display-field">@Model.NombreCiudad</div>
                                    <div class="display-field">@Model.Direccion</div>
                                    <div class="display-field">@Model.FechaNacimiento</div>
                                    <div class="display-field">@Model.DescripcionBloqueo</div>
                                </td>
                            </fieldset>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
