﻿@model ExperienciaTuristica.Models.UsuarioModel

@{
    ViewBag.Title = "Editar Usuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Editar Usuario</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Usuario</legend>

        @Html.HiddenFor(model => model.IdUsuario)
        @Html.Partial("_CrearOEditar", Model)

        <p>
            <input id="btn-guardar" type="submit" value="Guardar" hidden />
        </p>
    </fieldset>
}

<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $("#label-contra").css("display", "none");
    $("#field-contra").css("display", "none");
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PaisCodigo").change(function () {
            //Se limpia el contenido del dropdownlist
            $("#IdCiudad").empty();
            $.ajax({
                type: 'POST',
                //Llamado al metodo en el controlador
                url: '/Home/GetCiudadbyPaisCodigo/',
                dataType: 'json',
                //Parametros que se envian al metodo del controlador
                data: { PaisCodigo: $("#PaisCodigo").val() },
                //En caso de resultado exitoso
                success: function (Ciudades) {
                    debugger;
                    if (Ciudades.length == 0) {
                        $("#IdCiudad").append('<option value=""></option>');
                    }
                    else {
                        //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                        $("#IdCiudad").append('<option value="">Seleccione una ciudad</option>');
                        Ciudades.forEach(function (Ciudad) {
                            $("#IdCiudad").append('<option value="' + Ciudad.Value + '">' +
                            Ciudad.Text + '</option>');
                        });
                    }
                    actualizarComboCiudad();
                },
                //Mensaje de error en caso de fallo
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $('#PaisCodigo> option[value=@ViewBag.paisseleccionado]').attr('selected', 'selected');
        $("#PaisCodigo").change();

    });
    function actualizarComboCiudad() {
        $('#IdCiudad> option[value=@ViewBag.ciudadseleccionada]').attr('selected', 'selected');
    }
</script>

