﻿@model ExperienciaTuristica.Models.UsuarioModel
@{
    ViewBag.Title = "EliminarUsuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<link href="~/Content/Admin.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="titulo-index">
            <h2>Eliminar Usuario: @Model.NombreApellido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div id="paging">
                                    @using (Html.BeginForm())
                                    {
                                            <input type="submit" value="Eliminar" class="boton-eliminar"/>
                                            <li><a href="/Usuarios/Index" style="float: right">Volver</a></li>
                                    }
                                </div>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <fieldset>
                                <legend>Usuario</legend>
                                <td style="width: 50%; text-align: right;">
                                    <div class="display-label">Nombre de usuario:</div>
                                    <div class="display-label">Correo electrónico:</div>
                                    <div class="display-label">Rol:</div>
                                    <div class="display-label">Ciudad:</div>
                                    <div class="display-label">Direccion:</div>
                                    <div class="display-label">Fecha de nacimiento:</div>
                                    <div class="display-label">Estado:</div>
                                </td>
                                <td>
                                    <div class="display-field">@Model.NombreUsuario</div>
                                    <div class="display-field">@Model.Mail</div>
                                    <div class="display-field">@Model.IdRol</div>
                                    <div class="display-field">@Model.IdCiudad</div>
                                    <div class="display-field">@Model.Direccion</div>
                                    <div class="display-field">@Model.FechaNacimiento</div>
                                    <div class="display-field">@Model.IdEstado</div>
                                </td>
                            </fieldset>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>




@*<h2>EliminarUsuario</h2>

<h3>¿Desea confirmar la eliminación del usuario?</h3>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.NombreUsuario</div>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.NombreApellido</div>

    <div class="display-label">Correo electrónico</div>
    <div class="display-field">@Model.Mail</div>

    <div class="display-label">Rol</div>
    <div class="display-field">@Model.IdRol</div>

    <div class="display-label">Rol</div>
    <div class="display-field">@Model.IdCiudad</div>

    <div class="display-label">Rol</div>
    <div class="display-field">@Model.Direccion</div>

    <div class="display-label">Rol</div>
    <div class="display-field">@Model.FechaNacimiento</div>

    <div class="display-label">Rol</div>
    <div class="display-field">@Model.IdEstado</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}*@

