﻿@model List<ExperienciaTuristica.Models.UsuarioModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />

<link href="~/Content/Admin.css" rel="stylesheet" />
<center>
    <h2 style="margin-bottom: 0.5em;">Listado de usuarios</h2>
    <a type="button" class="btn btn-default btn-xs" style="width: 30%;" href="/Usuarios/CrearUsuario">Nuevo Usuario</a>  
</center>
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.NombreUsuario).Titled("Nombre de Usuario").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.NombreApellido).Titled("Nombre y Apellido").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.Mail).Titled("Mail").Sortable(true).Filterable(true).SetWidth("20%");
               columns.Add(c => c.DescripcionRol).Titled("Rol").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.NombreCiudad).Titled("Ciudad").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.Direccion).Titled("Direccion").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.DescripcionBloqueo).Titled("Bloqueo").Sortable(true).Filterable(true).SetWidth("10%");
               columns.Add(c => c.IdUsuario).Titled("")
                          .Sanitized(false)
                          .Encoded(false)
                          .RenderValueAs(d => "<a href='/Usuarios/DetalleUsuario/" + d.IdUsuario + "'><i class='fa fa-search-plus iconos-acciones'></i></a>"
                                              + "<a href='/Usuarios/EditarUsuario/" + d.IdUsuario + "'><i class='fa fa-pencil-square-o iconos-acciones'></i></a>"
                                              + "<a href='/Usuarios/EliminarUsuario/" + d.IdUsuario + "'><i class='fa fa-times iconos-acciones'></i></a>").SetWidth("20%");
           }).WithPaging(8).WithMultipleFilters()

<script type="text/javascript">
    $(document).ready(function () {
        $('#div-usuario-logueado').removeClass('no-visible');
        $('#div-botones').removeClass('no-visible');

    });
</script>



