﻿@model List<RepositorioClases.ResultadoBusqueda>
@{
    ViewBag.Title = "BusquedaCompleta";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@using GridMvc.Html
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/Temas.css" rel="stylesheet" />

<h2 class="titulo-busqueda-completa">Busqueda en todo el sitio: </h2>

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.Id).Titled("")
                          .Sanitized(false)
                          .Encoded(false)
                          .RenderValueAs(d => "<a href='/Tema/MostrarTema?IdTema=" + d.Id + "'>" + d.TituloRepresentativo + "</a>");
           }).WithPaging(2)

